Pet Shop/Service References/GetPetList/Pets.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPetList">
        <s:complexType />
      </s:element>
      <s:element name="GetPetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPetListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPetList" />
  </wsdl:message>
  <wsdl:message name="GetPetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPetListResponse" />
  </wsdl:message>
  <wsdl:portType name="PetsSoap">
    <wsdl:operation name="GetPetList">
      <wsdl:input message="tns:GetPetListSoapIn" />
      <wsdl:output message="tns:GetPetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PetsSoap" type="tns:PetsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPetList">
      <soap:operation soapAction="http://tempuri.org/GetPetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PetsSoap12" type="tns:PetsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPetList">
      <soap12:operation soapAction="http://tempuri.org/GetPetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pets">
    <wsdl:port name="PetsSoap" binding="tns:PetsSoap">
      <soap:address location="http://localhost:52220/Pets.asmx" />
    </wsdl:port>
    <wsdl:port name="PetsSoap12" binding="tns:PetsSoap12">
      <soap12:address location="http://localhost:52220/Pets.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>